In [15]:
import psycopg2
from psycopg2 import OperationalError as e
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [16]:
def connection_db(db, user, password, host, port):
    try:
        connection = psycopg2.connect(
        database = db,
        user = user,
        host = host,
        password = password,
        port = port)
        print(f'successfully connected to {db}')
    except e: 
        print(f'could not connect to the database {db} provided')
    return connection #sinon ça ne fonctionne pas

In [17]:
#conn = connection_db('final_project','sandrinevuachet','postgres','localhost',5432)
#cursor = conn.cursor()
#conn.autocommit = True

In [21]:
def connection():
    db = 'postgres+psycopg2://sandrinevuachet:postgres@localhost:5432/final_project'
    engine = create_engine(db,client_encoding='utf8')
    print(f'successfully connected to {db}')
    return engine
engine = connection()

successfully connected to postgres+psycopg2://sandrinevuachet:postgres@localhost:5432/final_project

In [22]:
with engine.connect() as connection:
    result = connection.execute("select * from operators")
    for row in result:
        print(row)
        #print("username:", row['username'])

(1, 'Enedis')
(2, 'RTE')
(3, 'GRDF')
(4, 'GRT_GAZ')
(5, 'Teréga')

In [24]:
sql_table = pd.read_sql_table('all_data',engine)
sql_table

,id,operators,year,energy,code_iris,address,city,code,consu,pdl
0,1,Enedis,2018,E,010040101,659 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"852,40377",1
1,2,Enedis,2018,E,010040101,645 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"61,78001",1
2,3,Enedis,2018,E,010040101,268 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,I,"63,2543",1
3,4,Enedis,2018,E,010040101,72 AVENUE DE LA LIBERATION,AMBÉRIEU-EN-BUGEY,I,"929,53233",1
4,5,Enedis,2018,E,010040101,82 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,R,"40,67797",22
...,...,...,...,...,...,...,...,...,...,...
45295,45296,GRDF,2018,G,130010401,14 CHEMIN DU BELVEDERE,AIX-EN-PROVENCE,T,"3,409470e+02",1
45296,45297,GRDF,2018,G,130010401,67 COURS GAMBETTA,AIX-EN-PROVENCE,R,"1,320361e+03",182
45297,45298,GRDF,2018,G,130010401,4 AVE DEPORTES,AIX-EN-PROVENCE,T,"3,966213e+02",1
45298,45299,GRDF,2018,G,130010401,297 AVENUE RENE CASSIN,AIX-EN-PROVENCE,T,"4,012382e+02",1
45299,45300,GRDF,2018,G,130010401,402 TRAVERSE SAINT PIERRE,AIX-EN-PROVENCE,T,"2,117336e+02",1

In [26]:
#with engine.connect() as connection:
    #result = connection.execute("""CREATE TABLE IF NOT EXISTS "associations"(
      #"id" SERIAL PRIMARY KEY,
      #"RNA" varchar,
      #"name" varchar,
      #"sigle" varchar,
      #"description" varchar,
      #"validation" varchar,
      #"validation_date" date,
      #"headquarter" varchar,
      #"liste_activites" varchar,
      #"contact_address" varchar,
      #"zip_code" integer,
     #"city" varchar,
      #"website" varchar,
      #"establishment" integer
   # );""")